.centerContainer-QfcWK{display:flex;flex-grow:1;justify-content:center;align-items:center}.buttonContainer-1yDYT{display:flex;justify-content:space-between}

.checkListContainer-33rt5{display:flex;flex-grow:1;justify-content:center;align-items:flex-start;margin-top:3em}.checklist-2HiS2{border:1px solid black;padding:.5em}.taskRow-zbyWd{display:flex;padding:.5em}.taskInput-17kix{padding-left:.5em;padding-right:.5em}.taskButton-3j8ZE,.saveDescButton-2kAys,.completedButton-2JGhr,.addRemoveButton-kVjiM{display:flex;align-items:center}.saveDescButton-2kAys{width:30px}.completedButton-2JGhr{padding:0 .5em}.addRemoveButton-kVjiM{padding-left:2em;padding-right:.5em}

.centerContainer-mpB2J{display:flex;flex-grow:1;justify-content:center;align-items:center}.buttonContainer-2_kZT{display:flex;justify-content:flex-end}

.body-2uXAF{width:100%;min-height:100vh;margin:0 auto;display:flex;flex-direction:column}.mainContainer-5RIWN{width:100%;flex-grow:1;display:flex}

.navbar-3TCW2{width:100%;border-bottom:1px solid #f0f0f0}.innerNavbar-Eef50{width:100%;display:flex;max-width:900px;margin:0 auto}.navAppName-nULIR{display:flex;align-items:center;padding:0 1em;font-weight:bold;cursor:pointer}.navMenu-3Zn1S{flex-grow:1}.right-12QQC{float:right}

